---
layout: main
title: Essays
kicker: Writing
sub: Agent-native engineering, and everything I wrote on the way here.
permalink: '/blog/'
---

<div class="post-list">
  {% for post in site.posts %}
  <a class="post-row" href="{{ post.url }}">
    <span class="post-row-date">{{ post.date | date: '%Y · %b' }}</span>
    <span class="post-row-title">{{ post.title }}</span>
    <span class="post-row-excerpt">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 150 }}</span>
  </a>
  {% endfor %}
</div>

{% include newsletter.html %}
