<form action="https://snevsky.us7.list-manage.com/subscribe/post?u=b4c45bc7d83cfb9a04783878e&amp;id=b3c0dba86b" method="post" class="mc-form" target="_blank" novalidate>
  <label class="mc-label" for="mce-EMAIL">Get my essays on agent-native engineering. No noise, just the system.</label>
  <div class="mc-row">
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b4c45bc7d83cfb9a04783878e_b3c0dba86b" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" class="button">
  </div>
</form>
