body {
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background: #fff;
}

.content {
    margin: 0 auto;
}

.main-header {
    text-align: right; 
}

.breadcrumb-header {
    font-size: 24pt;
    font-weight: bold;
}

.breadcrumb-header a {
    color: #444;
    text-decoration: none;
}

.breadcrumb-header a:hover {
    color: #2288ee;
}

.breadcrumb-header a:active {
    color: #004d9a;
}

nav {
    font-size: small;
}

.next {
    text-align: right;
}

main, footer {
    max-width: 450px;
    margin: 0 auto;
    padding: 0.5em 2em;
}

article {
    padding-top: 0.5em;
}

footer {
    margin-bottom: 2em;
}

main a, main a:visited {
    border-bottom: 1px dotted #c0c0c0;
    color: #0066cc;
    text-decoration: none;
}

main a:hover, main a:visited:hover {
    border-bottom-color: #2288ee;
    color: #2288ee;
}

main a:active, main a:visited:active {
    border-bottom-color: #004d9a;
    color: #004d9a;
}

article p {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.5;
}

article a, article a:visited {
    border-bottom: 1px dotted #c0c0c0;
    color: #444;
    text-decoration: none;
}

article a:hover, article a:visited:hover {
    border-bottom-color: #2288ee;
    color: #2288ee;
}

article a:active, article a:visited:active {
    border-bottom-color: #004d9a;
    color: #004d9a;
}

#meta { 
    color: #999;
    font-size: small;
}

footer a, footer a:active, footer a:visited {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
    border: none;
    font-size: 34px;
}

footer a:hover {
    color: #444;
}

h1, h2, h3 {
    line-height: initial;
}

ul {
    list-style-type: square;
    padding-left: 1em;
}

.project {
    margin: 2em 0;
}

.project h3 {
    margin-bottom: 0.5em;
}

.project p {
    margin: 0.3em 0 0 0;
}

aside > img {
    margin: 1em auto;
}

@keyframes bottomFadeIn {
  0% {
    opacity: 0;
  }
  40% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card-layout { 
    column-count: 2;
    column-gap: 0;
    margin: 0 auto;

    animation-name: bottomFadeIn;
    animation-delay: 0s;
    animation-duration: 2s;
}

.card-layout a {
    border: none;
    text-decoration: none;
}

.card {
    background: #fff;
    color: #444;
    padding: 0;
    border-radius: 0.2em;
    box-shadow: 0 1px 1px rgba(23,43,77,0.6), 0 0 0.5px 0 rgba(23,43,77,0.65);
    width: 400px;
    line-height: 1.5;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    line-height: 0;

    transform: translateZ(0);

    break-inside: avoid;
    
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.card img {
    width: 100%;
}

.card p {
    margin: 1em;
    line-height: 1.5;
}

.card:hover {
    box-shadow: 0 3px 1px rgba(23,43,77,0.6), 0 0 0.5px 0 rgba(23,43,77,0.65);
    
    -webkit-transform: translateY(-.25rem);
    transform: translateY(-.25rem);
    z-index: 2;
}

.card span {
    padding: 0.5em 0.7em;
    background: cadetblue;
    margin-right: 0.4em;
    color: white;
    font-size: small;
}

.heading {
    color: white;
    text-align: center;
    padding: 2em 0;
    margin-top: 2em;

    animation-name: fadeIn;
    animation-delay: 0;
    animation-duration: 1s;
}

.heading #mc_embed_signup {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-delay: 1.5s;
    animation-duration: 1s;
}

.heading strong { 
    font-size: larger;
}

main .heading a {
    color: #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}

header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 1em;
    background: #3f51b5;
    padding: 0;
    
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

header a, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: white;
}

#blog-header, #comments-header, #blog-left-header {
    display: none;
}

header {
    display: flex;
}

.nav-item {
    flex: 1;
    padding: 1em;
    text-align: center;
}

a.nav-item:hover { 
    transition: background-color 0.5s ease-in;
    background: #37469c;
}

.nav-item.side {
    text-align: left;
    text-transform: none;
}

@media (max-width: 1200px) {
    .card {
        width: 278px;
    }
}

@media (max-width: 700px) {
    .card-layout { 
        max-width: 400px;
        column-count: inherit;
    }
    .card {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    header {
        font-size: large;
    }
    .nav-item.side {
        display: none !important;
    }
}

#mc-embedded-subscribe {
  background-color: #569ea0 !important;
}
#mc-embedded-subscribe:hover {
  background-color: #444 !important;
}

@media (max-width: 768px) {
  #mce-EMAIL {
      width: 350px !important;
  }
  #mc_embed_signup_scroll > div.clear {
      display: inline-block !important;
      width: unset !important;
  }
}
