---
layout: default
---

<style type="text/css">
  .content {
    max-width: 800px;
    padding: 2em 0;
  }
  header,
  footer,
  main,
  nav,
  article h2,
  article h3,
  article p,
  article .article-header-img { 
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<header class="breadcrumb-header">
  <span>
    <a class="logo" href="/"><img alt="Serge Nevsky" height="24px" src="/assets/img/logo.png"></a>/ 
    <a href="/blog">Blog</a>
  </span>
</header>

{{ content }}
