<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Serge Nevsky{% if page.title }%} - {{page.title}}{% endif %}</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/screen.css">
    </head>
    <body>
        <header>
            <a href="/"><img alt="Serge Nevsky" height="80" src="/assets/img/logo.png" width="80"></a>
        </header>
        <section id="content">
            {{content}}
        </section>
        <footer>
            <p><a href="#">&#8718;</a></p>
        </footer>
    </body>
</html>
